#app {
  // 主体区域
  .main-container {
    transition: margin-left .28s;
    margin-left: 220px;
    position: relative;
    display: flex;
    flex-direction:column;
    height: 100%;
    overflow: hidden;
    //.scrollbar-wrapper{
    //  height:calc(100vh - 106px);
    //}
    //.is-horizontal {
    //  display: none;
    //}
    //.scrollbar-wrapper {
    //  overflow-x: hidden!important;
    //  .el-scrollbar__view {
    //    height: 100%;
    //  }
    //}
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 220px !important;
    height: calc(100vh - 64px);
    position: absolute;
    font-size: 0px;
    top: 64px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .el-scrollbar__bar.is-vertical{
      right: 0px;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-left: -6px;
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      padding-top: 1px;
    }
  }
  .hideSidebar {
    .el-menu-item .svg-icon{
      margin-left: -2px!important;
    }
    .sidebar-container {
      width: 60px !important;
    }
    .main-container {
      margin-left: 60px;
    }
    .submenu-title-noDropdown {
      padding-left: 16px !important;
      position: relative;
      .svg-icon{
        margin-left: -2px!important;
      }
      .el-tooltip {
        padding: 0 16px!important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 20px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
        span{
          margin-left: 20px;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          padding-left: 20px !important;
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .el-submenu__title i {
    color: #f9f9f9;
  }
  .el-submenu__title {
    height: 45px !important;
    line-height: 42px !important;
    //color: #f9f9f9 !important;
  }
  .el-submenu__title .svg-icon{
    //margin-left: -1px;
  }
  .el-submenu__title:hover{
    background: #31343E !important;
  }
  .el-menu-item {
    border-left: 4px solid transparent;
    height: 45px !important;
    line-height: 42px !important;
    //color: #f9f9f9 !important;
  }
  .el-menu-item:hover{
    background: #31343E !important;
  }
  .el-menu-item.is-active{
    border-color:#009494;
    background-color: #393D48 !important;
    color:#009494;
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    border-left: 4px solid transparent;
    height: 45px !important;
    line-height: 42px !important;
    min-width: 220px !important;
    background-color: $subMenuBg !important; // FIXME 屏蔽未知
    &:hover {
      background-color: $menuHover !important;
    }
    &.is-active {
      border-color:#009494;
      background-color: #393D48 !important; // FIXME 增加隔色;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 220px !important;
    background: red !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 220px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-220px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
